

<div>
  <input type="text" #msgVal />
  <!-- <button type="button" (click)="sendMsg(msgVal.value)">Send Message</button> -->
  <button type="button" (click)="SendMessage(msgVal.value)">Send Message</button>
  
  <h1>{{msg}}</h1>
</div>



<div id="main">
  <!-- <ul id="'message-list"></ul> -->
</div>

<!-- <div>
  <google-map height="400px"
            width="750px"
            [center]="center"
            [zoom]="zoom"
            (mapClick)="moveMap($event)"
            (mapMousemove)="move($event)">
</google-map>

<div>Latitude: {{display?.lat}}</div>
<div>Longitude: {{display?.lng}}</div>
</div> -->


<router-outlet></router-outlet>